<h1> <%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<ul>
  <li>address: <%= @restaurant.address %></li>
</ul>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <span>
        <% if review.rating === 5 %>
          ⭐️⭐️⭐️⭐️⭐️ 
        <% elsif review.rating === 4 %>
          ⭐️⭐️⭐️⭐️
        <% elsif review.rating === 3 %>
          ⭐️⭐️⭐️
        <% elsif review.rating === 2 %>
          ⭐️⭐️
        <% elsif review.rating === 1 %>
          ⭐️
        <% end %>
      </span>
      - <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>